<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

	<title>r/thereshouldbeaword</title>
</head>

<body>
	<div id="app">
		<div class="container">
			<div>
				<h1><a href="https://www.reddit.com/r/thereshouldbeaword" class="text-truncate">r/thereshouldbeaword</a> Dictionary</h1>
			</div>
			<hr size="30">
			<div class="form-group">
				<label for="searchbox">Type Search Below</label>
				<input type="email" @input="updateHash" class="form-control" id="searchbox" placeholder="Enter Search here" v-model="search">
			</div>
			<div class="card-deck">
				<div v-for="item in words" class="col-md-6 col-lg-4 d-flex" style="margin-bottom:20px;" v-if="item.Word.trim().toLowerCase().startsWith(search.toLowerCase())">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ item.Word }}</h5>
							<p class="card-text">{{ item.Definition.trim().capitalize() }}</p>
						</div>
						<div class="btn-group d-flex" role="group" style="width:100%">
							<a v-bind:href="'https://www.reddit.com/u/' + item.Author" class="btn btn-secondary w-50" target="_blank">{{item.Author}}</a>
							<a v-bind:href="item.Link" class="btn btn-primary w-50" target="_blank">Source</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>

	<script type="text/javascript">
		String.prototype.capitalize = function() {
			return this.charAt(0).toUpperCase() + this.slice(1);
		}
		var app = new Vue({
			el: '#app',
			data: {
				search: window.location.hash.replace("#", ""),
				words: [],
			},
			methods: {
				updateHash: function(event) {
					console.log(event)
					window.location.hash = event.srcElement.value;
				}
			}
		})

		var config = {
			apiKey: "AIzaSyDCDWGQh2PM99PU6LFXbJtKtXiX6iWfhXM",
			databaseURL: "https://thereshouldbeaworddb-497bd.firebaseio.com/",
		};
		firebase.initializeApp(config);

		var db = firebase.database();

		var ref = db.ref("Words/");

		ref.on("value", function(snapshot) {
			app._data.words = snapshot.val();
		}, function(errorObject) {
			console.log("The read failed: " + errorObject.code);
		});
	</script>
</body>

</html>
