<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

	<title>r/thereshouldbeaword</title>
</head>

<body>
	<div id="app">
		<div class="container">
			<div>
				<h1><a href="https://www.reddit.com/r/thereshouldbeaword" class="text-truncate">r/thereshouldbeaword</a> Dictionary</h1>
			</div>
			<hr size="30">
			<div class="form-group">
				<label for="searchbox">Type Search Below</label>
				<input type="email" v-on:input="updateHash" class="form-control" id="searchbox" placeholder="Enter Search here" v-model="search">
			</div>
			<div class="card-deck">
				<div v-for="item in words" class="col-md-6 col-lg-4 d-flex" style="margin-bottom:20px;" v-if="item[0][0].toLowerCase().startsWith(search.toLowerCase())">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ item[0][0] }}</h5>
							<p class="card-text">{{ item[0][2].charAt(0).toUpperCase() + item[0][2].slice(1) }}</p>
						</div>
						<div class="btn-group d-flex" role="group" style="width:100%">
							<a v-bind:href="'https://www.reddit.com/' + item[0][3]" class="btn btn-secondary w-50" target="_blank">{{item[0][3]}}</a>
							<a v-bind:href="item[1]" class="btn btn-primary w-50" target="_blank">Source</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				search: window.location.hash.replace("#", ""),
				words: [],
			},
			methods: {
				updateHash: function(event) {
					console.log(event)
					window.location.hash = event.srcElement.value;
				}
			}
		})

		$.getJSON("https://www.reddit.com/r/redditapi_hampton/comments/9u6cuf/rthereshouldbeaword_dictionary_testing/.json", function(post) {
			function parseComment(comment) {
				//console.log(comment)
				let data = [extractData(comment.body), "https://www.reddit.com" + comment.permalink, comment.ups, comment.author];
				return data;
			}

			function extractData(comment) {
				let data = comment.split("\n\n");
				if (data.length == 1) {
					data = data[0].split("     \n     \n");
				}
				data[0] = data[0].slice(6).trim();
				try {
					data[1] = data[1].split("(")[1].trim().slice(0, -1);
				}
				catch (err) {
					data[1] = data[1].slice(5).trim();
				}
				data[2] = data[2].slice(5).replace(/\s*$/, "");
				data[3] = data[3].slice(10).replace(/\s*$/, "").replace(/\\/g, '');

				if (!data[3].startsWith("u/")) {
					data[3] = "u/" + data[3].replace(/\\/g, '');
				}

				return data;
			}

			var trusted = ["herohamp"];

			for (var i in post[1].data.children) {
				var spost = post[1].data.children[i].data
				var extractedData = parseComment(spost);
				if (trusted.includes(extractedData[3])) {
					console.log(extractedData[0][0] + " - Auto Approved - Posted By Admin");
					app._data.words.push(extractedData);
				}
				else
				if (extractedData[2] > 1) {
					console.log(extractedData[0][0] + " - Auto Approved - Upvotes");
					app._data.words.push(extractedData);
				}
				else {
					//Oh god this is where it gets suicida
					for (var i in spost.replies.data.children) {
						var spost_com = spost.replies.data.children[i].data;
						if (spost_com.body == "Approved" && trusted.includes(spost_com.author)) {
							console.log(extractedData[0][0] + " - Approved by " + spost_com.author);
							app._data.words.push(extractedData);
						}
					}

				}
			}



		});
	</script>
</body>

</html>
